html, body{
	margin: 0;
	padding: 0;
	font-family: 'Nunito', Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #333;
	background: #FAFAFA;
	height: 100vh;
	width: 100vw;
}

#root{
	overflow: hidden;
	display:flex;
    align-items: center;
    justify-content: center;
	height: 100%;
	width: 100%;
}

#content{
	height: fit-content;
	width: 48vw;
	display: flex;
	margin: 0;
	transform-style: preserve-3d;
	box-shadow: 10px 0 10px rgba(0,0,0,0.05);
	flex-wrap: nowrap;
	flex-direction: column-reverse;
    transform: rotateX(45deg) rotateZ(45deg) rotateY(-5deg) perspective(90cm) scale(0.75);
}

#data, #ui, #board{
	width: 48vw;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.05);
	text-align: left;
}

#data{
	z-index: 99;
	height: fit-content;
}

#data .dataTitle{
	text-transform: uppercase;
	display: block;
	width: 100%;
	display: flex;
	flex-direction: row;
	margin:0 0 .5em 0;
	padding: 0 0 .5em .5em;
	border-bottom: 1px solid #CCC;
}

#data h1, #data h3{
	margin: .25em 0;
	padding: 0 .25em 0 0em;
	font-weight: 100;
	font-size: 2.5rem;
}

#data h3{
	font-weight: 900;
}

#data p{
	padding: 0 0 .5em 1rem;
}

#data #subData{
	display: flex;
	flex-direction: row;
}

#data #subData p{
	width: 50%;
}

#data #subData p:nth-child(odd){
	font-weight: bold;
	text-align: right;
	color: #797;
}

#data #subData p:nth-child(even){
	font-weight: bold;
	text-align: left;
	color: #433;
}

#board{
	height: 80vh;
	width: 100%;
	list-style-type: none;  
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-gap: 0;
	margin: 0;
	padding: 0;  
	z-index: 0;
}

#board .cell{
	display: flex;
	flex-grow: 1;
	transition: 0.4s all ease-out;
	align-items: center;
	justify-content: center;
	background: #fff;
}

#board .cell.darkbackground {
  background: #333;
}

#board .cell[id^="A"]:nth-child(2n+1), #board .cell[id^="C"]:nth-child(2n+1), #board .cell[id^="E"]:nth-child(2n+1), #board .cell[id^="G"]:nth-child(2n+1) {
	background: #333;
}

#board .cell[id^="B"]:nth-child(2n+0), #board .cell[id^="D"]:nth-child(2n+0), #board .cell[id^="F"]:nth-child(2n+0), #board .cell[id^="H"]:nth-child(2n+0) {
  background: #333;
}

#board .cell:hover, #board .cell[id^="A"]:nth-child(2n+1):hover, #board .cell[id^="C"]:nth-child(2n+1):hover, #board .cell[id^="E"]:nth-child(2n+1):hover, #board .cell[id^="G"]:nth-child(2n+1):hover, #board .cell[id^="B"]:nth-child(2n+0):hover, #board .cell[id^="D"]:nth-child(2n+0):hover, #board .cell[id^="F"]:nth-child(2n+0):hover, #board .cell[id^="H"]:nth-child(2n+0):hover {
	transition: 0s all ease-out;
	background: #F70;
	cursor: pointer;
}

#board li.active{
	background: #97F;
	transition: 0.3s all ease-in;
}

#ui{
	background: #797;
	color: #fafafa;
	z-index: 99;
	padding: 0 0 .5em 1rem;
	width: calc(100% - 1em)
}

#ui.alert{
	background: #F70;
}

.piece{
	display: flex;
	border-radius: 50%;
	background: #666;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
	height: 40%;
	width: 40%;
}