html, body{
	margin: 0;
	padding: 0;
	font-family: 'Nunito', Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #333;
	background: #FAFAFA;
	height: 100vh;
	width: 100vw;
}

#root{
	overflow: hidden;
	display:flex;
    align-items: center;
    justify-content: center;
	height: 100%;
	width: 100%;
}

#content{
	height: fit-content;
	width: 48vw;
	display: flex;
	margin: 0;
	transform-style: preserve-3d;
	box-shadow: 10px 0 10px rgba(0,0,0,0.05);
	flex-wrap: nowrap;
	flex-direction: column-reverse;
    transform: rotateX(45deg) rotateZ(45deg) rotateY(-5deg) perspective(90cm) scale(0.75);
}

#data, #ui, #board{
	width: 48vw;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.05);
	text-align: left;
}

#data{
	z-index: 99;
	height: fit-content;
}

#data h1{
	text-transform: uppercase;
	font-weight: 100;
	font-size: 2.5rem;
	margin: .5em 0;
	padding: 0 0 .5em .5em;
	border-bottom: 1px solid #CCC;
}

#data p{
	padding: 0 0 .5em 1rem;
}

#data #subData{
	display: flex;
	flex-direction: row;
}

#data #subData p{
	width: 50%;
}

#data #subData p:nth-child(odd){
	font-weight: bold;
	text-align: right;
	color: #797;
}

#data #subData p:nth-child(even){
	font-weight: bold;
	text-align: right;
	color: #433;
}

#board{
	height: 80vh;
	width: 100%;
	list-style-type: none;  
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-gap: 0;
	margin: 0;
	padding: 0;  
	z-index: 0;
}

#board .row{
	display: flex;
	flex-direction: column;
}

#board .row li{
	display: flex;
	flex-grow: 1;
	transition: 0.4s all ease-out;
	align-items: center;
	justify-content: center;
	background: #fff;
}

#board .rowli.darkbackground {
  background: #333;
}

#board .row li img{
	width: 100%;
    transform: rotate3d(-0.5,0,5,-45deg) perspective(10cm);
    padding-bottom: 25%;
    height: 100%;
}

#board .row li:hover, #board .row:nth-child(odd) li:nth-child(2n+0):hover, #board .row:nth-child(even) li:nth-child(2n+1):hover{
	transition: 0s all ease-out;
	background: #F70;
	cursor: pointer;
}

#board .row:nth-child(odd) li:nth-child(2n+0){
  background: #333;
}

#board .row:nth-child(even) li:nth-child(2n+1){
  background: #333;
}


#board li.active{
	background: #97F;
	transition: 0.3s all ease-in;
}

#ui{
	background: #797;
	color: #fafafa;
	z-index: 99;
	padding: 0 0 .5em 1rem;
	width: calc(100% - 1em)
}

.piece{
	display: flex;
	border-radius: 50%;
	background: #666;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
	height: 40%;
	width: 40%;
}